<HTML>
<HEAD>
<TITLE>ticket for your event</TITLE>
<style>
.aParent div {
  clear: none; 
}
</style>
</HEAD>


<BODY >
<!--
<div align="right"><IMG SRC="file:///C:/Users/SOUSOU/Desktop/imageedit_2_7976849306.gif" ALIGN="BOTTOM"> </div>
-->
<div style="background-color:white;background-image:url(file:///C:/Users/Chams%20Eddine/Desktop/js/t.jpg);  -moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
border: 4px dashed #162252; width:850px;height:400px;font-size:18px;">
<center><H1><FONT color="blue">CNGOT EVENT TICKET</H1></center>


<div class="aParent">
    <div style="float: left;">

                <img id="mm" src="{{ qrcode_data_uri('12', { size: 200, padding: 10 }) }}" width="100px" height="100px"  />
    </div>
    <div style="float: right;">
        <H2><FONT color="blue">21 Novembre 2016</H2>
        <SPAN>
            <P> <FONT color="blue">Nom:</P>
<P> <FONT color="blue">Prenom:</P></SPAN>
<BR> <B><I><FONT color="blue"> livre par CNGOT administration </I></B>
    </div>

    
</div>






</div>


</BODY>
</HTML>