{% extends "CNGOTBundle:admin:layout.html.twig" %}


{%block content %}

    <table border="1">
        <tr>
            <th>Titre</th>
            <th>Actions</th>
        </tr>
        {% for video in videos %}
            <tr>
                <td>{{video.titre }}</td>
                <td><a href="{{ path('view_single_video', {id:video.id}) }}">voir</a> /<a href="{{ path('delete_video', {id:video.id}) }}">delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('add_video') }}">Ajouter</a>

{%endblock%}